ol {
    background: rgb(245, 241, 4);
}

ol .par{
    color: rgb(100, 163, 17);
}
ol .impar{
    text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
    color: red;
}

li[innerHTML="Parte"]{
    background: red;
}